Repository WildCodeSchool/2023-11-wns-bleu-g1, pull requests merged in 2024-08, with the labels that each got.

#114 Feat: create new project and add it to db
  .github/workflows/test-front.yml
  backend/.gitignore
  backend/__tests__/users.resolver.test.ts
  backend/src/entities/code.ts
  backend/src/resolvers/code.resolver.ts
  backend/src/resolvers/language.resolver.ts
  backend/src/resolvers/project.resolver.ts
  backend/src/resolvers/user.resolver.ts
  backend/src/schema.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/elements/NewProjectForm.tsx
  frontend/src/components/elements/NewProjectPopup.tsx
  frontend/src/components/elements/auth-header.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/graphql/generated/schema.ts
  frontend/src/graphql/getLanguages.gql
  frontend/src/graphql/newCode.gql
  frontend/src/graphql/newProject.gql
  frontend/src/graphql/project.gql
  frontend/src/pages/coding/[id].tsx
  frontend/src/pages/profile.tsx
  package.json
Labels: frontend, feature, backend

#141 fix: deploy staging on pr closing
  .github/workflows/deploy-staging.yml
  .github/workflows/test-back.yml
  .github/workflows/test-front.yml
  backend/src/resolvers/project.resolver.ts
  frontend/src/pages/index.tsx
Labels: frontend, feature, backend

#142 feature/fix-workflows
  .github/workflows/test-back.yml
  .github/workflows/test-front.yml
Labels: bug, frontend, feature, backend

#143 fix: profile error
  frontend/src/graphql/generated/schema.ts
  frontend/src/graphql/user.gql
Labels: bug, frontend, backend

#145 refetch user profile on login
  frontend/src/pages/auth/connexion.tsx
Labels: bug, frontend

#140 ✨ feature/go-to-mvc
  backend/__tests__/helpers/getAdminJwt.ts
  backend/__tests__/helpers/getVisitorJwt.ts
  backend/__tests__/users.resolver.test.ts
  backend/src/auth.ts
  backend/src/entities/code.ts
  backend/src/entities/language.ts
  backend/src/entities/project.ts
  backend/src/entities/user.ts
  backend/src/resetDb.ts
  backend/src/resolvers/code.resolver.ts
  backend/src/resolvers/language.resolver.ts
  backend/src/resolvers/project.resolver.ts
  backend/src/resolvers/user.resolver.ts
  backend/src/schema.ts
  backend/src/services/code.service.ts
  backend/src/services/language.service.ts
  backend/src/services/projet.service.ts
  backend/src/services/user.service.ts
Labels: feature, backend

#144 Feature/code exection limitation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/executionCode.test.tsx
Labels: bug, feature

#118 Feature/create public projects page
  backend/src/auth.ts
  backend/src/resetDb.ts
  backend/src/resolvers/project.resolver.ts
  backend/src/services/projet.service.ts
  backend/src/types/project-pagination-response.ts
  frontend/src/components/custom-pagination.tsx
  frontend/src/components/elements/auth-header.tsx
  frontend/src/components/elements/auth-layout.tsx
  frontend/src/components/elements/not-found-alert.tsx
  frontend/src/components/elements/project-card.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/graphql/generated/schema.ts
  frontend/src/graphql/project.gql
  frontend/src/middleware.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/communaute.tsx
  frontend/src/pages/profile.tsx
Labels: frontend, feature, backend

#153 feature/fix-execution-number
  backend/__tests__/users.resolver.test.ts
  backend/src/entities/user.ts
  backend/src/services/user.service.ts
  frontend/src/__tests__/executionCode.mock.ts
  frontend/src/__tests__/executionCode.test.tsx
  frontend/src/pages/coding/[id].tsx
Labels: frontend, feature, backend

#160 fix coding page style
  backend/__tests__/users.resolver.test.ts
  backend/src/entities/user.ts
  backend/src/resolvers/project.resolver.ts
  backend/src/resolvers/user.resolver.ts
  backend/src/services/projet.service.ts
  frontend/src/components/elements/project-card.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/graphql/generated/schema.ts
  frontend/src/graphql/project.gql
  frontend/src/pages/coding/[id].tsx
  frontend/src/styles/globals.css
Labels: bug, frontend, backend

#157 ✨ Feature/backend add search project
  backend/src/resolvers/project.resolver.ts
Labels: feature, backend

#168 fix text error
  frontend/src/pages/auth/connexion.tsx
Labels: bug, frontend

#163 Feature/like project
  backend/src/db.ts
  backend/src/entities/like.ts
  backend/src/entities/project.ts
  backend/src/entities/user.ts
  backend/src/resolvers/like.resolver.ts
  backend/src/resolvers/project.resolver.ts
  backend/src/schema.ts
  backend/src/services/like.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/socials/like-button.tsx
  frontend/src/components/ui/hover-card.tsx
  frontend/src/graphql/generated/schema.ts
  frontend/src/graphql/like.gql
  frontend/src/graphql/project.gql
  frontend/src/pages/coding/[id].tsx
Labels: frontend, feature, backend

#146 Feature: user profile modifications
  backend/src/entities/user.ts
  backend/src/resetDb.ts
  backend/src/resolvers/user.resolver.ts
  backend/src/services/user.service.ts
  frontend/src/components/elements/ChangeUserPasswordPopup.tsx
  frontend/src/components/elements/ChangeUsernamePopup.tsx
  frontend/src/components/elements/ConfirmDeletePopUp.tsx
  frontend/src/components/elements/NewProjectForm.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/graphql/generated/schema.ts
  frontend/src/graphql/user.gql
  frontend/src/pages/profile.tsx
Labels: frontend, feature, backend
