Repository WildCodeSchool/2023-11-wns-bleu-g1, pull requests merged in 2024-10, with the labels that each got.

#164 ✨ Feature/add search project
  backend/src/resolvers/project.resolver.ts
  backend/src/script/create-hundred-users.ts
  backend/src/services/projet.service.ts
  backend/src/types/project-pagination-response.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/elements/AccountSettings.tsx
  frontend/src/components/elements/ProjectsContainer.tsx
  frontend/src/components/elements/not-found-alert.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/graphql/generated/schema.ts
  frontend/src/graphql/project.gql
  frontend/src/pages/communaute.tsx
  frontend/src/pages/profile.tsx
Labels: frontend, feature, backend

#178 feat: add cypress to app
  .github/workflows/test-front.yml
  frontend/cypress.config.ts
  frontend/cypress/e2e/landing.cy.ts
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/elements/Topbar.tsx
  frontend/src/pages/index.tsx
  test-e2e/.env.example
  test-e2e/.gitignore
  test-e2e/docker-compose.test-e2e.yml
  test-e2e/package-lock.json
  test-e2e/package.json
  test-e2e/playwright.config.ts
  test-e2e/src/db.helper.ts
  test-e2e/src/sign-up.spec.ts
  test-e2e/tsconfig.json
Labels: frontend, feature

#180 Fix/frontend build
  frontend/src/components/custom-pagination.tsx
  frontend/src/components/elements/ChangeUserPasswordPopup.tsx
  frontend/src/components/elements/NewProjectForm.tsx
  frontend/src/components/elements/ProjectsContainer.tsx
  frontend/src/graphql/generated/schema.ts
  test-e2e/.env
Labels: bug, frontend, backend

#170 integrate project's isPublic status change
  .github/workflows/test-back.yml
  backend/src/resolvers/project.resolver.ts
  backend/src/resolvers/user.resolver.ts
  backend/src/services/projet.service.ts
  frontend/cypress.config.ts
  frontend/cypress/e2e/landing.cy.ts
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/src/components/elements/ConfirmDeletePopUp.tsx
  frontend/src/components/elements/NewProjectPopup.tsx
  frontend/src/components/elements/Topbar.tsx
  frontend/src/components/elements/auth-header.tsx
  frontend/src/components/prism-loader.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/hover-card.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/graphql/generated/schema.ts
  frontend/src/graphql/getLanguages.gql
  frontend/src/graphql/newCode.gql
  frontend/src/graphql/newProject.gql
  frontend/src/graphql/project.gql
  frontend/src/graphql/user.gql
  frontend/src/pages/auth/connexion.tsx
  frontend/src/pages/coding/[id].tsx
  frontend/src/pages/index.tsx
  frontend/tailwind.config.ts
Labels: frontend, feature, backend

#183 feat: update unit tests
  backend/__tests__/users.resolver.test.ts
Labels: feature, backend

#179 fix workflows
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/test-back.yml
  .github/workflows/test-front.yml
  backend/__tests__/helpers/getAdminContext.ts
  backend/__tests__/helpers/getAdminJwt.ts
  backend/__tests__/helpers/getVisitorContext.ts
  backend/__tests__/helpers/getVisitorJwt.ts
  backend/__tests__/operations/createUser.ts
  backend/__tests__/operations/getExecutionCounter.ts
  backend/__tests__/operations/getUsers.ts
  backend/__tests__/operations/incrementExecutionCounter.ts
  backend/__tests__/unit/users.resolver.test.ts
  backend/jest.config.ts
  backend/jest.setup.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/auth/connexion.tsx
  frontend/src/pages/coding/[id].tsx
  frontend/src/pages/index.tsx
  test-e2e/.env
Labels: frontend, feature, backend

#181 clear cache on logout
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/elements/auth-header.tsx
  frontend/src/graphql/config/client.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/auth/connexion.tsx
Labels: bug, frontend

#186 feat: add admin page
  backend/src/services/user.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/elements/admin/AdminComments.tsx
  frontend/src/components/elements/admin/AdminLanguages.tsx
  frontend/src/components/elements/admin/AdminProjects.tsx
  frontend/src/components/elements/admin/AdminUsers.tsx
  frontend/src/components/elements/auth/auth-header.tsx
  frontend/src/components/elements/auth/auth-layout.tsx
  frontend/src/components/elements/common/Logo.tsx
  frontend/src/components/elements/common/Topbar.tsx
  frontend/src/components/elements/common/not-found-alert.tsx
  frontend/src/components/elements/common/page-loader.tsx
  frontend/src/components/elements/project/NewProjectForm.tsx
  frontend/src/components/elements/project/NewProjectPopup.tsx
  frontend/src/components/elements/project/ProjectsContainer.tsx
  frontend/src/components/elements/project/project-card.tsx
  frontend/src/components/elements/user/AccountSettings.tsx
  frontend/src/components/elements/user/ChangeUserPasswordPopup.tsx
  frontend/src/components/elements/user/ChangeUsernamePopup.tsx
  frontend/src/components/elements/user/ConfirmDeletePopUp.tsx
  frontend/src/components/elements/user/user-head-card.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/middleware.ts
  frontend/src/pages/admin.tsx
  frontend/src/pages/auth/connexion.tsx
  frontend/src/pages/auth/inscription.tsx
  frontend/src/pages/coding/[id].tsx
  frontend/src/pages/communaute.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/profile.tsx
Labels: frontend, feature

#194 Feat: languages section for admin panl
  frontend/src/components/elements/admin/AdminLanguages.tsx
  frontend/src/components/elements/admin/LanguageCreate.tsx
  frontend/src/components/elements/admin/LanguageDelete.tsx
  frontend/src/components/elements/admin/LanguageUpdate.tsx
  frontend/src/graphql/generated/schema.ts
  frontend/src/graphql/getLanguages.gql
  frontend/src/pages/admin.tsx
Labels: frontend, feature

#188 Feature/add comment
  backend/src/db.ts
  backend/src/entities/comment.ts
  backend/src/entities/project.ts
  backend/src/resolvers/comment.resolver.ts
  backend/src/resolvers/project.resolver.ts
  backend/src/schema.ts
  backend/src/services/comment.service.ts
  frontend/src/__tests__/executionCode.mock.ts
  frontend/src/__tests__/executionCode.test.tsx
  frontend/src/components/socials/comments/add-comment-form.tsx
  frontend/src/components/socials/comments/comment-button.tsx
  frontend/src/components/socials/comments/comment-card.tsx
  frontend/src/components/socials/comments/comments-section.tsx
  frontend/src/graphql/comment.gql
  frontend/src/graphql/generated/schema.ts
  frontend/src/graphql/project.gql
  frontend/src/lib/utils.ts
  frontend/src/pages/coding/[id].tsx
Labels: frontend, feature, backend

#185 feat: add user e2e tests
  .github/workflows/test-front.yml
  frontend/cypress/e2e/landing.cy.ts
  frontend/cypress/e2e/user.cy.ts
  frontend/src/components/elements/auth/auth-header.tsx
  frontend/src/components/elements/user/ConfirmDeletePopUp.tsx
Labels: frontend, feature

#196 User panel un admin section
  backend/src/resolvers/user.resolver.ts
  backend/src/services/user.service.ts
  frontend/src/components/elements/admin/AdminUsers.tsx
  frontend/src/components/elements/admin/ElementDelete.tsx
  frontend/src/components/elements/admin/LanguageCreate.tsx
  frontend/src/components/elements/admin/LanguageUpdate.tsx
  frontend/src/components/elements/user/ConfirmDeletePopUp.tsx
  frontend/src/graphql/generated/schema.ts
  frontend/src/graphql/user.gql
Labels: frontend, feature

#199 fix: build
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/elements/admin/AdminLanguages.tsx
  frontend/src/components/elements/admin/LanguageCreate.tsx
  frontend/src/components/elements/admin/LanguageUpdate.tsx
  frontend/src/graphql/generated/schema.ts
  frontend/src/graphql/getLanguages.gql
Labels: bug, frontend, backend

#202 feature: download code
  frontend/src/components/elements/CodeEditor.tsx
  frontend/src/enums/file-extension.enum.ts
  frontend/src/lib/utils.ts
Labels: frontend, feature

#112 Feature/premium page + stripe link
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/test-back.yml
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/resolvers/premium.resolver.ts
  backend/src/resolvers/user.resolver.ts
  backend/src/schema.ts
  backend/src/services/user.service.ts
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/elements/CheckoutPage.tsx
  frontend/src/components/elements/auth/auth-header.tsx
  frontend/src/components/elements/icons/check-circle.tsx
  frontend/src/components/elements/icons/external-link-arrow.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/graphql/generated/schema.ts
  frontend/src/graphql/stripe.gql
  frontend/src/graphql/user.gql
  frontend/src/pages/auth/connexion.tsx
  frontend/src/pages/premium/checkout/[plan].tsx
  frontend/src/pages/premium/index.tsx
Labels: frontend, feature

#203 Admin overview section
  backend/src/services/language.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/elements/admin/AdminOverview.tsx
  frontend/src/components/ui/chart.tsx
  frontend/src/graphql/generated/schema.ts
  frontend/src/graphql/getLanguages.gql
  frontend/src/middleware.ts
  frontend/src/pages/admin.tsx
  frontend/src/pages/auth/connexion.tsx
Labels: frontend, feature

#208 fix: Image and yaxis errors
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/elements/common/Logo.tsx
Labels: bug, frontend

#217 Add descriptions for graphQL documentation
  backend/src/entities/Reporting.ts
  backend/src/entities/code.ts
  backend/src/entities/comment.ts
  backend/src/entities/language.ts
  backend/src/entities/like.ts
  backend/src/entities/project.ts
  backend/src/entities/user.ts
  backend/src/resolvers/Reporting.resolver.ts
  backend/src/resolvers/code.resolver.ts
  backend/src/resolvers/comment.resolver.ts
  backend/src/resolvers/language.resolver.ts
  backend/src/resolvers/like.resolver.ts
  backend/src/resolvers/premium.resolver.ts
  backend/src/resolvers/project.resolver.ts
  backend/src/resolvers/user.resolver.ts
  backend/src/script/documentationUses.ts
Labels: Documentation, backend

#215 fix: add message for already used pseudo error
  frontend/src/pages/auth/inscription.tsx
Labels: bug, frontend

#213 Feature: add datas in resetdb
  backend/package-lock.json
  backend/package.json
  backend/src/db.ts
  backend/src/entities/language.ts
  backend/src/resetDb.ts
  frontend/src/components/elements/admin/AdminOverview.tsx
  frontend/src/graphql/generated/schema.ts
  frontend/src/graphql/getLanguages.gql
Labels: backend

#211 feat: add length for email in signup, name and version for add langua…
  frontend/src/components/elements/admin/LanguageCreate.tsx
  frontend/src/components/elements/project/NewProjectForm.tsx
  frontend/src/pages/auth/inscription.tsx
Labels: frontend, feature

#219 fix: signup regex for special characters
  frontend/src/middleware.ts
  frontend/src/pages/auth/inscription.tsx
Labels: bug, frontend

#218 feat: add color for languages and displays it on admin overview
  backend/src/entities/language.ts
  backend/src/resetDb.ts
  backend/src/services/language.service.ts
  frontend/src/components/elements/admin/AdminLanguages.tsx
  frontend/src/components/elements/admin/AdminOverview.tsx
  frontend/src/components/elements/admin/LanguageCreate.tsx
  frontend/src/graphql/generated/schema.ts
  frontend/src/graphql/getLanguages.gql
Labels: frontend, feature, backend

#220 Conditional rendering for landing page (prod/staging)
  docker-compose.production.yml
  docker-compose.staging.yml
  docker-compose.yml
  frontend/src/pages/index.tsx
Labels: frontend

#221 ✨ added span if count === 50
  frontend/src/components/elements/CodeEditor.tsx
Labels: frontend
