Repository WildCodeSchool/2023-11-wns-bleu-g1, pull requests merged in 2024-07, with the labels that each got.

#88 add prod deploy config & gateway
  .env.production.example
  .gitignore
  deploy-production.sh
  docker-compose.production.yml
  gateway/.gitignore
  gateway/Dockerfile.production
  gateway/nginx.conf
Labels: feature

#115 Feature/change dashboard to profile
  frontend/src/components/elements/auth-header.tsx
  frontend/src/middleware.ts
  frontend/src/pages/auth/connexion.tsx
  frontend/src/pages/profile.tsx
  frontend/src/pages/tableau-de-bord.tsx
Labels: frontend, feature

#113 ✨ added execute limit
  backend/__tests__/helpers/getAdminJwt.ts
  backend/__tests__/helpers/getVisitorContext.ts
  backend/__tests__/helpers/getVisitorJwt.ts
  backend/__tests__/operations/getExecutionCounter.ts
  backend/__tests__/operations/incrementExecutionCounter.ts
  backend/__tests__/users.resolver.test.ts
  backend/package-lock.json
  backend/package.json
  backend/src/entities/user.ts
  backend/src/index.ts
  backend/src/resolvers/user.resolver.ts
  backend/src/schema.ts
  backend/src/script/create-hundred-users.ts
  backend/src/script/reset-execution-code.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/__snapshots__/button.test.tsx.snap
  frontend/src/__tests__/button.test.tsx
  frontend/src/__tests__/executionCode.mock.ts
  frontend/src/__tests__/executionCode.test.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/graphql/generated/schema.ts
  frontend/src/graphql/user.gql
  frontend/src/pages/coding/codingPage.tsx
Labels: frontend, feature, backend

#133 🐛 fix/code exection limitation
  .github/workflows/test-front.yml
  backend/__tests__/operations/incrementExecutionCounter.ts
  backend/__tests__/users.resolver.test.ts
  backend/src/resetDb.ts
  backend/src/resolvers/user.resolver.ts
  frontend/package-lock.json
  frontend/src/__tests__/executionCode.mock.ts
  frontend/src/__tests__/executionCode.test.tsx
  frontend/src/graphql/generated/schema.ts
  frontend/src/graphql/user.gql
  frontend/src/pages/coding/codingPage.tsx
Labels: bug, frontend, backend
