Repository WildCodeSchool/2023-11-wns-bleu-g1, pull requests merged in 2024-06, with the labels that each got.

#66 Feat: Use logo as component
  frontend/src/components/elements/Logo.tsx
  frontend/src/components/elements/Topbar.tsx
  frontend/src/components/logo-svg.tsx
  frontend/src/pages/auth/connexion.tsx
  frontend/src/pages/auth/inscription.tsx
Labels: frontend

#60 Feat: coding page
  .github/workflows/test-back.yml
  frontend/.eslintrc.js
  frontend/.husky/pre-commit
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/public/Javascript_logo.png
  frontend/src/components/elements/Topbar.tsx
  frontend/src/components/prism-loader.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/pages/coding/codingPage.tsx
  frontend/src/pages/index.tsx
  frontend/src/styles/globals.css
  frontend/tailwind.config.ts
  package.json
Labels: frontend, feature

#75 Feat: add build and dockerhub push to ci
  .github/workflows/test-back.yml
  .github/workflows/test-front.yml
  backend/Dockerfile.production
  backend/package.json
  frontend/Dockerfile.production
Labels: frontend, feature, backend

#78 remove .eslintrc.js & add coding page url in middleware
  frontend/src/middleware.ts
Labels: frontend

#79 ✨ Feature/create new models
  backend/src/db.ts
  backend/src/entities/code.ts
  backend/src/entities/language.ts
  backend/src/entities/project.ts
Labels: feature, backend

#81 add link to coding page, replace topbar & changerun limit to 10
  frontend/src/components/elements/auth-header.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/coding/codingPage.tsx
Labels: frontend
